.hero_section {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* background-color: #030a17; */
  /* background-repeat: no-repeat; */
  background-size: cover;

  /* background-image:  url("./home_background.jpg"); */

  color: white;
  height: "100vh";
  width: "100vw";
  overflow: "hidden";
}
/* 
.hero-content{
    margin: 4rem;
    padding: 2rem;
 
} */

/* Hover effect for the Contact Sales button */
/* .hero_cta_contact_sales:hover .hero_cta_img {
    content: url("./right_arrow.png");
  }
   */

/* styles.css or your CSS file */
.custom-dropdown {
  background-color: white; /* Set the background color */
  color: #333; /* Optional: text color */
}

.custom-dropdown .p-dropdown {
  background-color: white; /* Ensure dropdown menu has a white background */
}

/* styles.css or your CSS file */
.p-dropdown-panel {
  background-color: white; /* Set the background color for the dropdown panel */
}

.custom-dropdown-panel {
  width: 250px; /* Set the width as per your needs */
  background-color: white;
  margin-left: -8px;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
  /* margin-bottom: px; */
  top: auto;
  bottom: auto;
}
.custom-dropdown-panel .p-dropdown-items-wrapper::-webkit-scrollbar {
  display: none;
}

.custom-dropdown .p-dropdown-label {
  padding-right: 10px; /* Adjust this value to increase the gap */
}

/* Assuming you're using a CSS file for styles */
/* DropdownStyles.css */

/* Style the filter input inside the dropdown */
.p-dropdown-filter.p-inputtext.p-component {
  /* margin-right:-10px; */
  background-color: #f4f4f4; /* Light background color */
  color: #333; /* Text color */
  padding: 10px; /* Add padding to make the input bigger */
  border-radius: 8px; /* Rounded corners */
  font-size: 14px; /* Adjust the font size */
  outline: none;
}

/* Change the placeholder text color in the filter input */
.p-dropdown-filter.p-inputtext.p-component::placeholder {
  color: #aaa; /* Light gray placeholder color */
}

/* Style the options inside the dropdown */
.p-dropdown-panel .p-dropdown-item {
  padding: 12px 15px; /* Increase padding for dropdown items */
  font-size: 15px; /* Adjust the font size */
  color: #333; /* Text color */
}
