<div style="
font-family: Arial, sans-serif;
color: #333;
display: flex;
align-items: stretch;
padding-left: 20px;
padding-right: 20px;
" class="signature">
<!-- Profile Image -->
<div style="display: flex; align-items: center">
<img src="https://www.thefirstweb.com/founder.jpeg" alt="Abhishek Kumar" class="responsive-image" />
</div>
<div style="width: 2px; background-color: #ddd; margin: 0 8px"></div>
<!-- Details Section -->
<div >
<div style="font-size: 16px; font-weight: bold; color: #902b72">
  Abhishek Kumar
</div>
<div style="font-size: 14px; color: #666">
  UI Designer, The First Web
</div>
<!-- Contact Info with Icons -->
<div class="signature-text">
<div class="contact-info" >
  <div class="info-item">
    <span style="font-weight: bold; color: #902b72">P</span>
    <a href="tel:+19254718097"style="text-decoration: none;">+1 (925) 471-8097</a>
  </div>
  <div class="info-item">
    <span style="font-weight: bold; color: #902b72">W</span>
    <a href="https://www.thefirstweb.com" style="text-decoration: none;" >www.thefirstweb.com</a>
  </div>
</div>

<div style=" margin-top: 4px">
  <span style="font-weight: bold; color: #902b72">E</span>
  <a href="mailto:abhishek@thefirstweb.com"
    style="color: #333; text-decoration: none">abhishek@thefirstweb.com</a>
</div>
<div style=" margin-top: 4px">
  <span style="font-weight: bold; color: #902b72">A</span> HSR Layout,
  Bangalore, India
</div>
</div>

<!-- Social Media Icons -->
<div style="margin-top: 10px">
  <a href="https://wa.link/6a335k" style=" text-decoration: none">
    <img src="https://www.thefirstweb.com/whatsapp.png" alt="WhatsApp" style="width: 24px" />
  </a>
  <a href="https://www.facebook.com/share/SGZk4Wj8Zg2b5Fo2/"
    style=" text-decoration: none">
    <img src="https://www.thefirstweb.com/facebook.png" alt="Facebook" style="width: 24px" />
  </a>
  <a href="https://www.instagram.com/thefirstweb" style=" text-decoration: none">
    <img src="https://www.thefirstweb.com/instagram.png" alt="Instagram" style="width: 24px" />
  </a>
  <a href="https://www.linkedin.com/company/the-first-web" style="text-decoration: none">
    <img src="https://www.thefirstweb.com/linkedin.png" alt="LinkedIn" style="width: 24px" />
  </a>
  <a href="https://x.com/TheFirstWe49975?t=Me1IuJDg0szkyIRnJjD3Cw&s=08" style="text-decoration: none">
    <img src="https://www.thefirstweb.com/twitter.png" alt="Twitter" style="width: 24px" />
  </a>
</div>
</div>
</div>
